---
title:11
--- 
     
     <!-- Categories star-->
        <section id="categoties" class="mb-5">
            <div class="container">
                <h2 class="d-none">Top Categories</h2>
                <div class="row g-2" >
                    <div class="col-12 col-lg-6">
                        <a href="product-grid.html" class="card card-top-category text-bg-dark border-0 rounded-0">
                            <img src="assets/img/category/c1.png" class="card-img rounded-0" alt="...">
                            <div class="card-img-overlay m-3">
                                <h3 class="h4 card-title text-body-emphasis">Women's wear</h3>
                                <span class="card-text text-secondary">1234 items</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row g-2">
                            <div class="col-12 col-md-6">
                                <a href="product-grid.html" class="card card-top-category text-bg-dark border-0 rounded-0">
                                    <img src="assets/img/category/c2.jpg" class="card-img rounded-0" alt="...">
                                    <div class="card-img-overlay m-3">
                                        <h3 class="h4 card-title text-body-emphasis">Kid's wear</h3>
                                        <span class="card-text text-secondary">3145 items</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6">
                                <a href="product-grid.html" class="card card-top-category text-bg-dark border-0 rounded-0">
                                    <img src="assets/img/category/c3.jpg" class="card-img rounded-0" alt="...">
                                    <div class="card-img-overlay m-3">
                                        <h3 class="h4 card-title text-body-emphasis">Men's wear</h3>
                                        <span class="card-text text-secondary">2314 items</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12">
                                <a href="product-grid.html" class="card card-top-category text-bg-dark border-0 rounded-0">
                                    <img src="assets/img/category/c4.jpg" class="card-img rounded-0" alt="...">
                                    <div class="card-img-overlay m-3">
                                        <h3 class="h4 card-title text-body-emphasis">Accessories</h3>
                                        <span class="card-text text-secondary">234 items</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Categories end-->