---
title:11
---
  
        <!--Footer star-->
        <footer id="footer" class="pt-5 pb-5 bg-dark" data-bs-theme="dark" >
            <div class="container">
                <!-- Footer top -->
                <div class="border-bottom text-body-tertiary">
                    <div class="row">
                        <div class="col-12 col-lg-3 col-md-6"  data-show="true" style="animation-name: fadeIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
                            <!-- Brand -->
                            <div class="mb-5">
                                <a href="index.html" class="d-inline-flex align-items-center fs-3 fw-semibold text-white mb-4">
                                    <img src="/assets/img/logo/logo-footer.png" alt="" height="32">
                                </a>
                                <p>
                                    <em>Sed diam constituam ei, qui erat probo dissentiet ex. Id vim libris volutpat, pri cu
                                        errem timeam cotidieque, purto summo has te. An quis eligendi atomorum duo, latine
                                        veritus vituperata vim.</em>
                                </p>
                            </div>
                            <!-- /Brand -->
                        </div>
                        <div class="col-12 col-lg-3 col-md-6"  data-show="true" style="animation-name: fadeIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 100ms; animation-direction: normal; animation-fill-mode: both;">
                            <!-- Contact Info -->
                            <div class="mb-4">
                                <h5 class="text-body-emphasis">Contact Info</h5>
                                <div class="pt-2">
                                    <p>
                                        <span>610 Placer Loquen, Paris, France.</span>
                                    </p>
                                    <p>
                                        <span>+33 321-654-9876 (Ext: 123).</span>
                                    </p>
                                    <p>
                                        <a href="#" class="text-body link-hover-primary">contact@example.com</a>
                                    </p>
                                    <p>
                                        <a href="#" class="text-body link-hover-primary">www.example.com</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /Contact Info -->
                        </div>
                        <div class="col-12 col-lg-3 col-md-6"  data-show="true" style="animation-name: fadeIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 200ms; animation-direction: normal; animation-fill-mode: both;">
                            <!-- Quick Links -->
                            <div class="mb-4">
                                <h5 class="text-body-emphasis">Quick Links</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link text-body link-hover-primary ps-0 pe-0" href="about.html">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-body link-hover-primary ps-0 pe-0" href="blog.html">BLog</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-body link-hover-primary ps-0 pe-0" href="blank.html">Help?</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-body link-hover-primary ps-0 pe-0" href="contact.html">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link text-body link-hover-primary ps-0 pe-0" href="product-grid.html">Women</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-body link-hover-primary ps-0 pe-0" href="product-grid.html">Men</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-body link-hover-primary ps-0 pe-0" href="product-grid.html">Kids</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-body link-hover-primary ps-0 pe-0" href="product-grid.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Quick Links -->
                        </div>
                        <div class="col-12 col-lg-3 col-md-6"  data-show="true" style="animation-name: fadeIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 300ms; animation-direction: normal; animation-fill-mode: both;">
                            <div class="mb-4">
                                <!-- Mobile App -->
                                <div class="mb-3">
                                    <h5 class="text-body-emphasis">Subscribe</h5>
                                    <div class="mb-4">
                                        <small class="d-block mb-2">Lorem ipsum dolor sit amet, pro no prima</small>
                                        <div class="input-group input-group-lg mb-3">
                                            <input type="text" class="form-control fs-6 shadow-none rounded-0" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button class="btn btn-primary fs-6 rounded-0" type="button" id="button-addon2">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Mobile App -->
                                <!-- Social -->
                                <div class="mb-4">
                                    <h5 class="text-body-emphasis mb-3">Connect social</h5>
                                    <div class="social-links d-inline-flex align-items-center">
                                        <a href="#" class="ms-1 me-1 link-secondary"><i class="bi bi-facebook"></i></a>
                                        <a href="#" class="ms-1 me-1 link-secondary"><i class="bi bi-twitter"></i></a>
                                        <a href="#" class="ms-1 me-1 link-secondary"><i class="bi bi-instagram"></i></a>
                                        <a href="#" class="ms-1 me-1 link-secondary"><i class="bi bi-pinterest"></i></a>
                                        <a href="#" class="ms-1 me-1 link-secondary"><i class="bi bi-youtube"></i></a>
                                    </div>
                                </div>
                                <!-- /Social -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Footer top -->
                <!-- Footer Bottom -->
                <div class="mt-4 text-body-tertiary" data-bs-theme="dark">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <p>© 2023 Miso. All rights reserved.</p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="text-start text-md-end">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="text-body link-hover-primary" href="blank.html">Privacy Policy</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-body link-hover-primary" href="blank.html">Terms of Use</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Footer Bottom -->
            </div>
        </footer>
        <!--Footer end-->