---
title:11
---
    
    
    <!--Password star-->
    <div class="modal fade" id="mdlForgotPassword" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mdlForgotPasswordTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h3 class="modal-title" id="mdlForgotPasswordTitle">Forgot Password</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" method="post" novalidate="" action="new-password.html">
                        <div class="mb-4">
                            <label for="txtEmail4" class="form-label">Email<span class="text-danger">*</span></label>
                            <input class="form-control form-control-lg fs-6 shadow-none rounded-0" type="email" id="txtEmail4" name="username4" value="" placeholder="" required="">
                            <div class="invalid-feedback"> Please enter Email. </div>
                        </div>
                        <p><strong class="fw-medium">Note:</strong> A link will be sent to your mail, you need to click
                            on it to create a new password.</p>
                        <div class="mb-4">
                            <button type="submit" class="btn btn-lg fs-6 btn-dark w-50 rounded-0 rounded-0" id="btnSubmit4">
                                <i class="bi bi-envelope"></i>
                                <span>Send link</span>
                            </button>
                        </div>
                        <hr>
                        <div class="mb-2"> Remember Password? <a href="#mdlLogin" data-bs-toggle="modal">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Password end-->