---
title:11
---
  
            <!--Promotion star-->
            <section class="promotion bg-light mb-5">
                <div class="container">
                    <div class="row align-items-center" >
                        <div class="col-12 col-lg-6">
                            <div class="mb-5 mb-lg-0 pt-5 pb-0 pb-lg-5">
                                <span class="fs-2">Only Summer Collections</span>
                                <h2 class="display-4 fw-medium">Up To <span class="text-danger">40%</span> Off</h2>
                                <p class="fw-light fs-5 mb-4">Putant admodum contentiones te ius, in vel dicat platonem
                                    omittantur, sit ex error tractatos no pri prima discere molestie.</p>
                                <a href="product-grid.html" class="btn btn-lg fs-6 btn-dark rounded-0">
                                    <span>Shop now</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="text-center">
                                <img src="assets/img/promotion/p1.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Promotion end-->