---
title:11
---
    
    <!--Search star-->
    <div class="offcanvas offcanvas-end border-start-0 p-3" tabindex="-1" id="ocSearch" aria-labelledby="h5Search">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="h5Search">Search</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="pb-4 mb-3 border-bottom">
                <form method="post">
                    <div class="mb-3">
                        <input type="email" class="form-control form-control-lg shadow-none fs-6 rounded-0" id="txtKeyword" aria-describedby="Keyword" placeholder="Product keyword...">
                    </div>
                    <div class="mb-3">
                        <select class="form-select form-select-lg shadow-none fs-6 rounded-0" aria-label="Categories">
                            <option selected>Categories</option>
                            <option value="1">Womens</option>
                            <option value="2">Mens</option>
                            <option value="3">Kids</option>
                            <option value="4">Accessories</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg fs-6 w-100 rounded-0">Search products</button>
                </form>
            </div>
            <div class="pb-4 mb-3 border-bottom">
                <h6 class="mb-3 text-uppercase">Popular</h6>
                <ul class="list-inline small tag-list mb-0">
                    <li class="list-inline-item">
                        <a href="#">Women Shoses</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">kid t-shirt</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">men clother</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">men wallets</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">watches</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Glasses</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">t-shirt</a>
                    </li>
                </ul>
            </div>
            <div class="pt-2">
                <h6 class="mb-3 text-uppercase">Categories</h6>
                <ul class="list-unstyled fw-semibold mb-0">
                    <li class="pt-1 pb-1">
                        <a href="#" class="link-body-emphasis">Women</a>
                    </li>
                    <li class="pt-1 pb-1">
                        <a href="#" class="link-body-emphasis">men</a>
                    </li>
                    <li class="pt-1 pb-1">
                        <a href="#" class="link-body-emphasis">kids</a>
                    </li>
                    <li class="pt-1 pb-1">
                        <a href="#" class="link-body-emphasis">Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Search end-->