---
title:11
---
  
       <!--Slide star-->
        <section id="hero" class="hero-carousel bg-body-secondary mb-5 pt-5 pb-5 pt-lg-0 pb-lg-0">
            <div id="crsHero" class="carousel slide carousel-dark">
                <div class="carousel-indicators mb-0 mb-lg-5">
                    <button type="button" data-bs-target="#crsHero" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#crsHero" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#crsHero" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner pt-4 pt-lg-0">
                    <div class="carousel-item active">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-lg-6 h-100 d-flex align-items-center">
                                    <div class="mb-5 mb-lg-0 pt-5">
                                        <span class="fw-light d-block mb-2 text-uppercase">New Collection</span>
                                        <h1 class="display-2 fw-medium text-body-emphasis">New Summer <span class="text-primary">Collections</span> 2023 </h1>
                                        <p class="text-secondary fw-light mb-5 fs-5">
                                            Wisi sale cum eu, tamquam quaestio similique cu cum. Alii dictas minimum cum ne, est at debitis adipiscing year
                                        </p>
                                        <a href="product-grid.html" class="btn btn-lg fs-6 btn-outline-dark rounded-0">
                                            <span>Shop now</span>
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 h-100 d-none d-lg-flex align-items-lg-center justify-content-end">
                                    <img src="assets/img/hero/h1.png" class="h-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-lg-6 h-100 d-flex align-items-center">
                                    <div class="mb-5 mb-lg-0 pt-5">
                                        <span class="fw-light d-block mb-2 text-uppercase">New Collection</span>
                                        <h1 class="display-2 fw-medium text-body-emphasis">New Summer <span class="text-primary">Collections</span> 2023 </h1>
                                        <p class="text-secondary fw-light mb-5 fs-5">
                                            Wisi sale cum eu, tamquam quaestio similique cu cum. Alii dictas minimum cum ne, est at debitis adipiscing year
                                        </p>
                                        <a href="product-grid.html" class="btn btn-lg fs-6 btn-outline-dark rounded-0">
                                            <span>Shop now</span>
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 h-100 d-none d-lg-flex align-items-lg-center justify-content-end">
                                    <img src="assets/img/hero/h2.png" class="h-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-lg-6 h-100 d-flex align-items-center">
                                    <div class="mb-5 mb-lg-0 pt-5">
                                        <span class="fw-light d-block mb-2 text-uppercase">New Collection</span>
                                        <h1 class="display-2 fw-medium text-body-emphasis">New Summer <span class="text-primary">Collections</span> 2023 </h1>
                                        <p class="text-secondary fw-light mb-5 fs-5">
                                            Wisi sale cum eu, tamquam quaestio similique cu cum. Alii dictas minimum cum ne, est at debitis adipiscing year
                                        </p>
                                        <a href="product-grid.html" class="btn btn-lg fs-6 btn-outline-dark rounded-0">
                                            <span>Shop now</span>
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 h-100 d-none d-lg-flex align-items-lg-center justify-content-end">
                                    <img src="assets/img/hero/h3.png" class="h-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev mb-5 d-none d-lg-flex" type="button" data-bs-target="#crsHero" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next mb-5 d-none d-lg-flex" type="button" data-bs-target="#crsHero" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <!--Slide end-->